<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-sky-100">
    <div class="mx-auto px-4 py-8 bg-blue-100 rounded-lg">
        <h1 class="text-3xl font-bold text-center p-4 "><a href="/" class="text-black hover:text-blue-700">{{ title }}</a></h1>
        <nav class="flex justify-center space-x-4">
            <a href="/home" class="text-blue-500 hover:text-blue-700">Home</a>
            <a href="/" class="text-blue-500 hover:text-blue-700">About</a>
            <a href="/" class="text-blue-500 hover:text-blue-700">Contact</a>
        </nav>
    </div>

    <div class="container mx-auto mt-8">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>